# LaTeX auxiliary files (track only .cls .tex .pdf .bbl)
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.nav
*.snm
*.vrb
*.xdv
*.dvi
*.ps
*.ilg
*.ind
*.idx
*.blg
*.bcf
*.run.xml
*.tmp
*.thm
*.bbl
*.mw
*.pyg
*.pgf
*.tikz
*.pdfsync
_minted*
build/
latexmk/